.metric-system-font {
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 90%;
    color: #174735;

    padding-top: 21px;
}

.main-logo-size {
    width: 124px;
    height: 86px;
}

.main-name-size {
    width: 216px;
    height: 38px;
}

.calculator-button {
    background: #36BF7D;
    border-radius: 40px;
    width: 216px;
    height: 48px;

    justify-content: center;
    align-items: center;
    padding: 13px 63px;

    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 90%;
    color: #FFFFFF;"

    cursor: pointer;
}

.calculator-button:hover {
    cursor: pointer !important;
}

.calculator-button-line {
    border: 1px solid rgba(255, 255, 255, 0.5); width: 88px;
    height: 0px;
}

.right-words-header {
    font-family: 'Onest';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #36BF7D;
}

.right-words {
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #919191;
    padding-top: 24px
}

.right-words-link {
    text-decoration-line: underline;
    color: #36BF7D;
}

.right-words-link:hover {
    cursor: pointer;
}

.calculator-button-padding {
    padding-top: 50px;
}

.pointer:hover {
    cursor: pointer;
}

@media (min-width: 992px) {
    .links-background-padding-md {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-bottom: 48px;
    }

    .container1 {
        /*width: 200px;*/
        /*height: 600px;*/
        /*background-color: blue;*/
        position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    .whole-block {
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 10%;
    }

    .right-block-border {
        border-left: 2px solid #909090;
    }
}

@media (max-width: 991px) {
    .main-logo-size {
        width: 99px !important;
        height: 69px !important;
    }

    .main-name-size {
        width: 216px;
        height: 38px;
    }

    .right-block-border {
        border-left: 2px solid #909090;
    }

    .right-text-title-font-size {
        font-size: 14px;
    }

    .right-text-header-title-font-size {
        font-size: 25px;
    }
}

@media (min-width: 769px) {
    .links-background-padding-md {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-bottom: 48px;
    }

    .container1 {
        /*width: 200px;*/
        /*height: 600px;*/
        /*background-color: blue;*/
        position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    .whole-block {
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 10%;
    }
}

@media (max-width: 768px) {
    .right-block-title-padding-md {
        padding-top: 80px;
    }

    .main-logo-name-padding-md {
        padding-top: 21px;
    }

    .main-logo-align {
        text-align: center;
    }

    .main-logo-name-align {
        text-align: center;
    }

    .calculator-button-align {
        /*width: 200px;*/
        /*height: 600px;*/
        /*background-color: blue;*/
        /*position: absolute; !*Can also be `fixed`*!*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        /*overflow: auto;*/
    }

    .calculator-button-padding {
        padding-top: 25px !important;
    }

    .right-block-border {
        border-left: none;
    }

    .right-text-title-font-size {
        font-size: 16px;
    }

    .right-text-header-title-font-size {
        font-size: 25px;
    }
}

@media (max-width: 580px) {
    .right-block-border {
        border-left: none;
    }

    .main-logo-align {
        text-align: center;
    }

    .main-logo-name-align {
        text-align: center;
    }

    .calculator-button-align {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        /*overflow: auto;*/
    }

    .calculator-button-padding {
        padding-top: 25px !important;
    }

    .right-text-title-font-size {
        font-size: 16px;
    }

    .right-text-header-title-font-size {
        font-size: 25px;
    }
}

